# ====================================================== #
#            Orion git repository ignore list.           #
# ====================================================== #

#
# build results.

[Bb]uild/
[Bb]in/

#
# editor-specific files.
# (add other editor files here if necessary)

# .. for VSCode:
.vscode/

#
# everything in the GitHub folder should be tracked

!.github/**

#
# valgrind core dumps

vgcore.*
